@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  @apply bg-neutral-950 text-neutral-50 w-full h-full box-border;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  @apply hidden;
  -webkit-appearance: none;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply hover:bg-zinc-900 bg-zinc-800 rounded-full border-2 border-transparent border-solid border-zinc-800;
  background-clip: padding-box;
}

  .sun-editor {
    @apply h-full rounded-lg;

    .se-toolbar {
      @apply rounded-lg;
    }
  }

.disabled,
[data-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

.main-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-y: auto;

  & > * {
    font-family: "Inter", sans-serif;
  }

  button {
    @apply text-small rounded-[0.75rem] font-semibold;
  }
}